.film-card {

    &:hover {
        cursor: pointer;
        filter: brightness(0.5);
    }

    img {
        width: 200px;
        height: 250px;
    }

    figcaption {
        color: white;
        font-size: 0.7rem;
        padding: 5px 0;
    }
}