.footer-top {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px 0px 10px 0px;

    .row {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 0px;
        margin-top: 20px;
        align-self: flex-start;
    }

    .col {
        flex-basis: calc((100% / 3) - 50px / 3);

        h5 {
            color: white;
        }
    }

    ul {
        text-transform: none;
        text-transform: capitalize;
        font-size: 0.6rem;

        li {
            margin: 5px 0;
        }

    }

    img {
        position: absolute;
        width: 450px;
        right: 450px;
        bottom: 0px;
        top: -55px;
    }

    a {
        color: grey;
    }
}

.footer-top>div {
    justify-content: space-between;
    align-items: normal;
}

.footer-top li a:hover {
    color: rgb(12, 105, 247);
}