/* Generics */
body {
    font-family: 'GretaSansStd', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-transform: uppercase;
}

img {
    max-width: 100%;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
}