main {
    text-align: center;

    #cards {
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 15px;
        text-align: start;
    }

    .col {
        flex-basis: calc(100% / 5 - (60px / 5));
    }

    button {
        color: white;
        border: 1px solid transparent;
        background-color: rgb(12, 105, 247);
        padding: 10px 35px;

        &:hover {
            cursor: pointer;
            background-color: white;
            color: rgb(12, 105, 247);
        }

        h5 {
            font-size: 0.7rem;
        }
    }
}

//# Generico se non ho contenuto nel main
#nothing {
    padding: 20px 0;
}

//# Pagina Singola Card
.card-section {
    background-color: white;
    padding: 30px 0;
    text-transform: none;

    h3 {
        text-transform: uppercase;
    }

    .left {
        flex-basis: 100%;
        text-align: start;

        .info {
            background-color: rgb(60, 198, 60);
            margin: 10px 0;
            font-size: 0.7rem;
            color: white;

            .left {
                ul {
                    justify-content: space-between;
                }

                padding: 10px 15px;
                border-right: 1px solid rgba(0, 0, 0, 0.5);
            }

            .right {
                padding: 10px 15px;
                text-align: center;
            }
        }

        p {
            font-size: 0.6rem;
            line-height: 1.2rem;
        }
    }

    .right {
        flex-shrink: 0;
    }

    h6 {
        text-transform: uppercase;
        color: darkgray;
        text-align: end;
        margin-bottom: 2px;
        font-size: 0.5rem;
    }

    img {
        width: 150px;
        height: 150px;
        display: block;
    }
}


.talent-specs {
    background-color: whitesmoke;
    padding: 20px 0 60px 0;
    text-transform: none;
    font-size: 0.7rem;

    h5 {
        text-align: start;
        margin-bottom: 25px;
        text-transform: capitalize;
        font-size: 0.8rem;
    }

    .row {
        flex-wrap: wrap;

        .line-sep {
            border: 0.01px solid grey;
            width: 100%;
            height: 1px;
        }
    }

    .col {
        flex-basis: 100%;
        display: flex;
    }

    .subtitle {
        font-size: 0.7rem;
        width: 100px;
    }

    li {
        width: max-content;
    }

    .left {
        flex-basis: 50%;
    }

    .right {
        flex-basis: 50%;

        .series a {
            text-transform: uppercase;
        }

    }
}