/* Utils */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container-small {
    margin: 0 auto;
    max-width: 1000px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-strech {
    display: flex;
    align-items: stretch;
}

.gap-xl {
    gap: 30px;
}